@model CarouselPage

@{
    ViewData["Title"] = Model.Title;
}

<div id="carousel" class="carousel">
    @foreach (var slide in Model.Images)
    {
        <div class="slide">
            <img class="slide-img @slide.Animation" src="@slide.Image">
            @if (!string.IsNullOrEmpty(slide.Caption)) {
                <div class="caption">
                    @slide.Caption
                </div>    
            }
        </div>
    }
</div>