@model List<Slide>
@{
    Layout = null;
}

@foreach (var slide in Model)
{
    <div class="slide @slide.Animation" style="display: none;">
        <img class="slide-img" src="@slide.Image">
        @if (!string.IsNullOrEmpty(slide.Caption)) {
            <div class="caption">
                @slide.Caption
            </div>
        }
    </div>
}