* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: black;
}

.slide {
    max-height: 100vh;
}

.slide-img {
    max-height: 100vh;
    width: 100%;
    object-fit: contain;
    display: block;
}
.caption {
    color: #fff;
    background-color: #000;
    font-size: 36px;
    padding: 16px;

    /* Center at the bottom */
    position: absolute;
    left: 50%;
    bottom: 75px;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)

}

.carousel {
    max-width:100%;
}

/* Animations */

.animate-top {
    position: relative;
    animation: animatetop 0.6s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.animate-left {
    position: relative;
    animation: animateleft 0.6s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

.animate-right {
    position: relative;
    animation: animateright 0.6s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

.animate-bottom {
    position: relative;
    animation: animatebottom 0.6s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}
