body, html {
    height: 100%;
}

.img-container { 
    /* The image used */
    background-image: url("/images/slideshow/Start.jpg");
    background-color: black;
    transition: background-image 1s ease-in-out;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
